(1)Write a Python code that takes a user's name as input and prints:
Hello, [name]!

Example:
Input:  Rawan  
Output: Hello, Rawan!

In [1]:
name=input("enter your name")
print("hello,"+name+"!")

enter your namefawzy
hello,fawzy!

(2)Write a Python code that takes a string input, and prints its type.

Example:
Input:  Rawan  
Output: Rawan  
Type: <class 'str'>

In [3]:
user=input("enter a string")
print(user)
print(type(user))

enter a stringfawzy
fawzy
<class 'str'>

(3)Write a Python code that multiply 3 numbers and print output.

Example:

a=4

b=3

c=1

Output: Product: 12.

In [4]:
a=6
b=4
c=2
print(a+b+c)

12

(4)Write a code to display four string input from user like “My, “Name“, “Is“, “James” as

expected output
```
My**Name**Is**James

```

In [6]:
str1=input("enter your first string")
str2=input("enter your second string")
str3=input("enter your third string")
str4=input("enter your fourth string")
print(str1+"**"+str2+"**"+str3+"**"+str4)

enter your first stringmy
enter your second stringname
enter your third stringis
enter your fourth stringfawzy
my**name**is**fawzy

(5) Write a Python code that print:

Goal Output (exact):

```
Start -> "Middle" -> End!

Done
```

In [7]:
print("fawzy","->",'\"ahmed\"',"fawzy!")
print("done")

fawzy -> "ahmed" fawzy!
done

(6)Write a Python code that prints the following using only ONE print():

Expected output:

Line1

Line2

Line3

In [9]:
print("fawzy\nahmed\nfawzy")

fawzy
ahmed
fawzy

(7)Write a Python code that takes the user's name and age as input and prints them using tab spacing.

```
Name:    Rawan
Age:     22
```

In [10]:
username=input("enter your name")
age=input("enter your age")
print("name:"+"\t"+(username))
print("age:"+"\t"+(age))

enter your namefawzy
enter your age22
name:	fawzy
age:	22